{% load static %}
{##}
{#<h3>Welcome </h3>#}

{##}

<!Doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Niko Belin</title>
    <link href={% static 'css/main.css' %} rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="card card-body h-100 border-info" id="'profile-wrapper">
                    <img id="profile-photo" src = {% static 'images/pice.jpg' %}>
                    <hr>
                    <h4>Hi I'm Danso kwesi!</h4>

                    <p>I love coding,playing video games, researching and watching movies</p>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info" >
                     <h4>My First Job as a Developer</h4>
                     <hr>
                     <P>
                         Being money driven and determined secured a freelancer job on july 4th 2020 to the develop the backend
                         server for an android app(second year in college). I had little knowledge then,but with the help of experts and
                         tutorials i started writing nice codes.
                     </P>
                    <p>
                        It was later i realized i had learned much from that job including skills which were not in the job
                        domain. Skills which run deep into the coding world.

                    </p>

                    <ul class="social-links">
                           <li><img class="social" src="{% static 'images/facebook.jpg' %}"></li>
                           <li><img class="social" src="{% static 'images/twitter.jpg' %}"></li>
                           <li><img class="social" src="{% static 'images/youtube.jpg' %}"></li>
                           <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                    </ul>
                </div>
            </div>
        </div>
          <br>
          <div class="row">
            <div class="col-md-6 ">
                <div class="card card-body h-100">
                    <h5>My Experience As a Developer</h5>
                    <hr>
                    <p>•Backend Freelancer</p>
                    <P>•Intern at Sayetech Ghana</P>
                    <P>Have about 10 personal project</P>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I know</h5>
                    <hr>
                    <p>•Backend and Database skills with python, Python, JavaScript and Java languages, html, css.</p>
                    <p>•Docker skills , Django, PostgreSQL , Mild knowledge in Android Development with java</p>

                    <P>•Currently working on flutter</P>
                    <p></p>

                </div>
            </div>
        </div>
          <br>
          <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I learn </h5>
                    <hr>
                    <p>Make immense research and studies on subject matter, with effective planning
                    before designing prototypes to test outcomes</p>
                    <P>Learn anything interesting , Hard worker who really endures before he meets his target </P>
                    <p>Always ready to learn anything concerned with my job specification</p>
                    <p> Codes for at least three(3) hours a day </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>With an immense two(2) years knowledge in python, I'm very prepared to try new things which
                        primarily is to enter the field of machine learning and hopefully pursue a masters degree in that
                        field of study.
                    </p>
                    <p>
                        Would also like to work with other developers and companies in other to explore new opportunities
                        and gain more experience in the industry field
                    </p>

                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>
