body{
    color: lightgrey;
}


#profile-wrapper
{
   text-align: center;
}
#profile-photo
{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-left:auto ;
    margin-right:auto;

}
ul{
    padding: 0;
    list-style-type: none;
}

 .social-links ul,li{
     list-style-type: none;
     display: inline;

}
 .social{
     width: 20px;
     height: 20px;
 }